.service_content {
  padding: 20px;
}

.title-text {
  font-weight: bold;
  padding: 20px;
  border-bottom: 2px solid #0000ff;
}

.text-warning {
  color: #ffd700;
}

.description {
  /* border-bottom: 2px solid #afafaf; */
  padding: 30px;
  width: 100%;
  font-size: 1.1rem;
}

.service-image {
  max-width: 100%;
  height: auto;
}

.whp-content {
  margin-top: 20px;
  width: 500px;
  margin: auto;
}

.title-wwp {
  font-weight: 500;
  margin-bottom: 35px;
  font-size: 1.7rem;
  display: flex;
}

.list-unstyled {
  padding-left: 0;
  font-size: large;
  font-weight: 500;
  line-height: 30px;
}
.list-unstyled li {
  padding: 5px 0;
}
